// Home
.kw-home {
  &--blank {
    display: table;
    width: 100%;
    min-height: calc(100vh - 4rem);
  }

  &--blank-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  &--content {
    @media (max-width: 768px) {
      margin-top: 5rem;
    }
  }
}
