// Header partial
.kw-header {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  height: 4rem;
  border-bottom: 1px solid rgba(0,0,0,.1);
  background-color: $white;
  top: 0;
  z-index: 2;
}
