<div class="col-12 col-md-3 col-xl-2 kw-sidebar">
  <h1>Sidebar</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus corporis harum explicabo dignissimos at rem, delectus, nobis nesciunt quasi quibusdam esse sit, aperiam fuga, illo molestias corrupti recusandae ratione! Eius.</p>
</div>
