<div class="col-12 col-md-3 col-xl-2 kw-sidebar py-md-4 px-md-3 d-none d-md-block">
  <nav class="kw-sidebar__menus">
    <%= link_to "Dashboard", root_path, class: "kw-sidebar__links kw-active" %>
    <% if user_signed_in? && current_user.membership.role == "admin" %>
      <%= link_to "Integration", new_setting_path, class: "kw-sidebar__links" %>
    <% end %>
    <% if user_signed_in? && current_user.membership.role == "employee" %>
      <%= link_to "Apply loan", new_loan_path, class: "kw-sidebar__links" %>
    <% end %>
  </nav>
</div>
